// SVG characteristics
.svg {
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid #777777;
  margin-bottom: 15px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  @media screen and (min-width: $on-large) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.full-page-content .svg {
  height: 100vh;
  width: 100vw;
  border: 0px;
  margin-bottom: 0;
}

.taglist {
  margin-left: auto;
}

.taglink {
  font-size: 14px;
  background-color: $code-background-color;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

.hidden-group {
  display: none;
}

.input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.input-row * {
  font-size: $base-font-size * 1.75;
}

input {
  font-family: $code-font-family;
  color: $table-text-color;
  background-color: $code-background-color;
  width: 16rem;
}

button {
  color: $table-text-color;
  background-color: $table-header-bg-color;
}

.error {
  color: $error-color;
}
