$spacing-unit: 30px;

$table-text-align: left;

// Width of the content area
$content-width: 1000px;

$on-palm: 400px;
$on-laptop: 1000px;

$on-medium: $on-palm;
$on-large: $on-laptop;

$error-color: rgb(228, 153, 146);
